name: Deploy Frontend

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Deploy Frontend to VPS
        uses: appleboy/ssh-action@v1
        with:
          host: 72.62.192.246
          username: root
          key: ${{ secrets.VPS_SSH_KEY }}
          script: |
            set -e
            cd /var/www/carefoundation/frontend
            git pull origin main
            npm install
            rm -rf .next
            npm run build
            pm2 restart care-frontend


